<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63390293824-n6icns39osdqmcea4lh5u4mc394l6cue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63390293824-n6icns39osdqmcea4lh5u4mc394l6cue</string>
	<key>API_KEY</key>
	<string>AIzaSyBYb4fxApiNvmTpa7HrIWsV8Lodgfi9kKk</string>
	<key>GCM_SENDER_ID</key>
	<string>63390293824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.health</string>
	<key>PROJECT_ID</key>
	<string>healthapp-76324</string>
	<key>STORAGE_BUCKET</key>
	<string>healthapp-76324.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63390293824:ios:f54415f9eb9e704aa264a5</string>
</dict>
</plist>